/*
 ******************************************************************************
 * Grid layout for the main app.
 ******************************************************************************
 */
#main-app {
  grid-template-columns: 1fr;
  grid-template-areas:
    'nav-bar'
    'spacer-md'
    'page';
}

/* Reset margins at the top level. */
#main-app > * {
  margin: 0;
}

#nav-bar {
  grid-area: nav-bar;
}

.spacer-md {
  grid-area: spacer-md;
}

.page {
  grid-area: page;
}
