/*
 ******************************************************************************
 * Grid layout for the home page.
 ******************************************************************************
 */
#home-page {
  padding-bottom: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'spacer-md'
    'main';
}

header {
  grid-area: header;
  grid-template-columns: 1fr;
  justify-items: center;
}

.spacer-md {
  grid-area: spacer-md;
}

main {
  grid-area: main;
  grid-template-columns: 1fr;
  justify-items: start;
}
