header {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

main {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

p {
  margin: 1rem 0;
  font-size: 1.5rem;
}

@media (orientation: portrait) and (width < 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  main {
    font-size: 1rem;
  }
}
