/*
 ******************************************************************************
 * Navigation button styles.
 ******************************************************************************
 */
button {
  background-color: var(--vue-pickled-bluewood);
  color: white;
  border: none;
}

button:hover {
  transform: scale(1.01);
}

a {
  display: block;
  border-radius: 0.5rem;
}

/* Button for the active page will have a white border. */
a.router-link-active {
  border: 0.2rem solid white;
}
