/*
 ******************************************************************************
 * Grid layout for the  navigation bar.
 ******************************************************************************
 */
/* Sticky nav bar at the top, above everything. */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--vue-ocean-green);
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.5);
  grid-template-columns: 1fr;
  grid-template-areas:
    'spacer-1'
    'nav'
    'spacer-2';
}

:nth-child(1 of .spacer-sm) {
  grid-area: spacer-1;
}

nav {
  grid-area: nav;
  justify-self: stretch;
}

:nth-child(2 of .spacer-sm) {
  grid-area: spacer-2;
}

/* For portrait, center the navigation buttons. */
@media (orientation: portrait) {
  #nav-bar {
    justify-content: space-evenly;
  }
}
