/*
 ************************************************
 * Grid: description of the watch function.
 ************************************************
 */
#watch-desc {
  grid-area: watch-desc;
  align-self: start;
  grid-template-columns: 1fr;
}

/*
 ************************************************
 * Grid: 'Choose a source type'.
 ************************************************
 */
#source-choice {
  grid-area: source-choice;
  border: 0.1rem solid var(--dark-grayish);
  grid-template-columns: 1fr;
  grid-template-areas:
    'ref-label'
    'sref-label'
    'reactive-label'
    'sreactive-label';
}

#source-choice > legend {
  font-size: 1.1rem;
  padding: 0 0.1rem;
}

#source-choice > * {
  justify-self: start;
}

#ref-label {
  grid-area: ref-label;
}

#sref-label {
  grid-area: sref-label;
}

#reactive-label {
  grid-area: reactive-label;
}

#sreactive-label {
  grid-area: sreactive-label;
}

/*
 ************************************************
 * Grid: select watch function options and effect.
 ************************************************
 */
#function-options {
  grid-area: function-options;
  margin: 0.5rem;
  grid-template-columns: 40% 1fr;
  grid-template-areas:
    'source-label source-select'
    'deep-label deep-select'
    'effect-label effect-select';
}

#source-label {
  grid-area: source-label;
}

#deep-label {
  grid-area: deep-label;
}

#effect-label {
  grid-area: effect-label;
}

#function-options > label {
  justify-self: end;
}

#source-select {
  grid-area: source-select;
}

#deep-select {
  grid-area: deep-select;
}

#effect-select {
  grid-area: effect-select;
}

/*
 ************************************************
 * Grid: run the effect.
 ************************************************
 */
#run-effect {
  grid-area: run-effect;
  grid-template-columns: 40% 1fr;
  grid-template-areas: 'effect-button trigger-message';
}

#effect-button {
  grid-area: effect-button;
  justify-self: end;
}

@keyframes yellowfade {
  from {
    background-color: yellow;
  }
  to {
    background-color: transparent;
  }
}

#trigger-message {
  grid-area: trigger-message;
  text-align: center;
  animation-name: yellowfade;
  animation-duration: 3s;
}

/*
 ************************************************
 * Grid: the watch page.
 ************************************************
 */
#watch-page {
  padding: 0 1rem;
  grid-template-columns: 25% 25% 20% 1fr;
  grid-template-areas:
    'watch-desc watch-desc source-choice watch-object'
    'function-options function-options watch-function watch-function'
    'function-options function-options watch-function watch-function'
    'function-options function-options watch-function watch-function'
    'run-effect run-effect . .';
}

#watch-object {
  grid-area: watch-object;
}

#watch-function {
  grid-area: watch-function;
}

#watch-function,
#watch-object {
  padding: 0.5rem;
  border: 0.1rem solid var(--dark-grayish);
  background-color: var(--white-old-paper);
}

/*
 ************************************************
 * Wide portrait for like tablets.
 ************************************************
 */
@media (orientation: portrait) and (width >= 768px) {
  #function-options {
    margin: 0;
    grid-area: function-options;
    grid-template-columns: 1fr;
    grid-template-areas:
      'source-label'
      'source-select'
      'deep-label'
      'deep-select'
      'effect-label'
      'effect-select';
  }

  #function-options > label {
    justify-self: start;
    margin-bottom: 0;
  }

  #run-effect {
    grid-area: run-effect;
    margin-left: 0;
    grid-template-columns: 20% 1fr;
    grid-template-areas: 'effect-button trigger-message';
  }

  #effect-button {
    justify-self: start;
  }

  #watch-page {
    padding: 0 0.5rem;
    grid-template-columns: 40% 1fr;
    grid-template-areas:
      'watch-desc watch-desc'
      'source-choice watch-object'
      'function-options watch-function'
      'run-effect run-effect';
  }

  #watch-function {
    align-self: stretch;
  }
}

/*
 ************************************************
 * Narrow portrait for like phones.
 ************************************************
 */
@media (orientation: portrait) and (width < 768px) {
  #function-options {
    margin: 0;
    grid-area: function-options;
    grid-template-columns: 1fr;
    grid-template-areas:
      'source-label'
      'source-select'
      'deep-label'
      'deep-select'
      'effect-label'
      'effect-select';
  }

  #function-options > label {
    justify-self: start;
    margin-bottom: 0;
  }

  #run-effect {
    grid-area: run-effect;
    margin-left: 0;
    grid-template-columns: 30% 1fr;
    grid-template-areas: 'effect-button trigger-message';
  }

  #effect-button {
    justify-self: start;
  }

  #watch-page {
    padding: 0 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'watch-desc watch-desc'
      'source-choice source-choice'
      'watch-object watch-object'
      'function-options function-options'
      'watch-function watch-function'
      'run-effect run-effect';
  }
}
